PORT=8000
MONGODB_URI="mongodb+srv://trishank75way:<password>@cluster03.2uemb2a.mongodb.net/?retryWrites=true&w=majority&appName=Cluster03"
FRONTEND_BASE_URL="http://localhost:5173"
GOOGLE_API_KEY="AIzaSyDDfm-g29isNVY2tCEZEMF2IRlvSQ8TKgc"